<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ServicesTestSuite" parallel="classes" thread-count="10" data-provider-thread-count="10">
	<listeners>
		<listener class-name="com.ctm.listeners.InvocationListenerAdapter" />
	</listeners>
	<test name="EAI-Services-Tests">
		<classes>
		<class name="com.ctm.eai.purchaseorderservice.CreatePurchaseOrderTest" /> 
		</classes>
	</test>
</suite>
